PROD_PORT=13000
PORT=13000
BIND_ADDRESS=127.0.0.1
PROD_CLIENT_URL=http://127.0.0.1:18080
CLIENT_URL=http://127.0.0.1:18080
FRONTEND_URL=http://127.0.0.1:18080
FRONTEND_MANIFEST_URL=http://127.0.0.1:18080/.vite/manifest.json
TRANSLATIONS_BASE_URL=http://127.0.0.1:18080/translations
TRANSLATIONS_PATH=
COOKIE_SECURE=false
CACHE_PATH=/srv/tuf-canary/data/cache
THUMBNAILS_CACHE_PATH=/srv/tuf-canary/data/thumbnails
MYSQL_BACKUP_PATH=/srv/tuf-canary/data/backups/mysql
FILES_BACKUP_PATH=/srv/tuf-canary/data/backups/files
ROOT_PATH=/app
ELASTICSEARCH_CA_PATH=/run/secrets/elasticsearch-ca.crt
INIT_DB=false
UPDATE_DB=false
LOAD_PFPS=false
CDC_PROJECTORS_DISABLED=true
ES_RECONCILE_CRON_DISABLED=true
LEADERBOARD_RANK_SNAPSHOT_CRON_DISABLED=true
WEEKLY_CURATION_SCHEDULE_CRON_DISABLED=true
DISCORD_ANNOUNCEMENT_DELIVERY_FORCE=false
DISCORD_ANNOUNCEMENT_WEBHOOK_OVERRIDE=
RERATE_ANNOUNCEMENT_HOOK=
LEVEL_SUBMISSION_HOOK=
PASS_SUBMISSION_HOOK=
LEVEL_FILE_UPDATE_HOOK=
