BILIBILI_PROXY_BIND_ADDRESS=127.0.0.1
BILIBILI_PROXY_PORT=13892
BILIBILI_PROXY_PROBE_BVID=BV1zCtq61Eoi
BILIBILI_PROXY_WAVE_TIMEOUT_MS=8000
BILIBILI_PROXY_DISABLED=
BILIBILI_PROXY_ENABLED=
BILIBILI_PROXY_LOGGING=false
