HEALTH_PORT=13883
HEALTH_BIND_ADDRESS=127.0.0.1
LOG_PATH=/tmp/tuf-health-logs
HEALTH_MAIN_SERVER_URL=http://127.0.0.1:13000/v2/health
HEALTH_CDN_URL=http://127.0.0.1:13001/health
HEALTH_CDC_URL=http://127.0.0.1:13990/health
HEALTH_NGINX_URL=http://127.0.0.1:18080
