# These values are used while building the frontend image in GitHub Actions.
VITE_API_URL=https://api.tuforums.com
VITE_HEALTH_URL=https://api.tuforums.com
VITE_DEV_API_URL=https://api.tuforums.com
VITE_STAGING_API_URL=https://api.staging.tuforums.com
VITE_PROD_API_URL=https://api.tuforums.com
VITE_OWN_URL=https://tuforums.com
VITE_OWN_DEV_URL=http://127.0.0.1:5173
VITE_OWN_STAGING_URL=https://staging.tuforums.com
VITE_OWN_PROD_URL=https://tuforums.com
VITE_CDN_URL=https://cdn.tuforums.com
VITE_DEV_CDN_URL=https://cdn.tuforums.com
VITE_PROD_CDN_URL=https://cdn.tuforums.com
VITE_APRIL_FOOLS=false
VITE_CUSTOM_PROFILE_BANNERS_ENABLED=true
VITE_RECAPTCHA_SITE_KEY=__REQUIRED__
VITE_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=the-universal-forums
SENTRY_PROJECT=javascript-react
SENTRY_URL=https://de.sentry.io
