HEALTH_PORT=3883
HEALTH_BIND_ADDRESS=127.0.0.1
HEALTH_MAIN_SERVER_URL=http://127.0.0.1:3000
HEALTH_CDN_URL=http://127.0.0.1:3001
HEALTH_CDC_URL=http://127.0.0.1:3990/health
HEALTH_NGINX_URL=http://127.0.0.1

