TUF_BACKEND_IMAGE_TAG=replace-with-git-sha
TUF_FRONTEND_IMAGE_TAG=replace-with-git-sha
TUF_RUNTIME_UID=10001
TUF_RUNTIME_GID=10001
TUF_DEPLOY_SSH_PUBLIC_KEY=__REQUIRED__
ELASTICSEARCH_CA_SOURCE_PATH=/root/elasticsearch-service/elasticsearch-9.0.0/config/certs/localhost/localhost.crt
